<!DOCTYPE html>
<html>
    <head>
        Customer Form
    </head>
    <body>
        <h1>
            Customers Form
        </h1>
        <form method="post" th:action="@{${customer.id} != null ? @{'/web/customers/update/' + ${customer.id}} : @{'/web/customers'}}" th:object="${customer}">
            <input type="hidden" th:field="*{id}" />
            <label>Name:</label>
            <input type="text" th:field="*{name}" />
            <button type="submit">Submit</button>
        </form>
        <a href="/web/customers">Back to Lists</a>
    </body>
</html>