<!DOCTYPE html>
<html>
    <head>
        <title>
            Customer Details
        </title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <div class="header">
            <h1 class="header-title">ADP Project 1</h1>
        </div>
        <h1>
            Customer Details
        </h1>
        <a href="/web/customers/create"> <button>Add Customer</button></a>
        <a href="/web/customers/purchase"> <button>Purchase</button></a>
        <a href="/web/customers/payment"> <button>Make a Payment</button></a>

        <table>
            <tr>
                <th>Customer Id</th> <br />
                <th>Customer Name</th>
                <th>Total Sales</th>
                <th>Balance Due</th>
                <th>Edit Operation</th>
                <th>Delete Operation</th>

            </tr>
            <tr th:each = "customer : ${customers}">
                <td th:text = "${customer.id}">1</td>
                <td th:text = "${customer.name}">John Doe</td>
                <td th:text = "${customer.totalSales}">0.0</td>
                <td th:text = "${customer.balanceDue}">0.0</td>

                <td>
                    <a th:href="@{/web/customers/edit/{id}(id=${customer.id})}"> Edit </a>
                </td>
                <td>
                    <a th:href="@{/web/customers/delete/{id}(id=${customer.id})}"> Delete </a>
                </td>
            </tr>
        </table>
    </body>

</html>