<!DOCTYPE html>
<html>
    <head>
        <title>Customer Form</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <h1>
            Customer Form
        </h1>
        <form method="post" th:action="@{${customer.id} != null ? @{'/web/customers/update/' + ${customer.id}} : @{'/web/customers'}}" th:object="${customer}">
            <input type="hidden" th:field="*{id}" />
            <label>Name:</label>
            <input type="text" th:field="*{name}" required/>
            <button type="submit">Submit</button>
        </form>
        <br /><a href="/web/customers"><button>Back to Details Page</button></a>
    </body>
</html>