<!DOCTYPE html>
<html>
    <head>
        Customer display
    </head>
    <body>
        <h1>
            Customers table
        </h1>
        <a href="/web/customers/create"> Add Customer</a>
        <a href="/web/customers/purchase"> Purchase</a>
        <a href="/web/customers/payment"> Make a Payment</a>

        <table>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Operations</th>
            </tr>
            <tr th:each = "customer : ${customers}">
                <td th:text = "${customer.id}">1</td>
                <td th:text = "${customer.name}">John Doe</td>
                <td>
                    <a th:href="@{/web/customers/edit/{id}(id=${customer.id})}"> Edit </a>
                </td>
                <td>
                    <a th:href="@{/web/customers/delete/{id}(id=${customer.id})}"> Delete </a>
                </td>
            </tr>
        </table>
    </body>

</html>