<!DOCTYPE html>
<html>
    <head>
        <title>
            Payment Form
        </title>
        <link rel="stylesheet" href="/stylesheet.css">
        <script>
        function postData(url, data) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if(data.JSON)
                console.log('Success: ', data);
                alert('Payment is successful');
                window.location.href = "http://localhost:8081/web/customers";
            })
            .catch((error) => {
                console.log('Error occurred: ', error);
                alert('Payment failed: ', error);
            });
        }

        function getData(url) {
            fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log("the data is: ", data);
                document.getElementById('balanceDue').value = data.balanceDue.toFixed(2);
            })
            .catch((error) => {
                console.log("Error: ", error);
                alert('Error fetching customer data');
            });
        }

        function getCustomer() {
            const id = document.getElementById("id").value;
            if(id>0)
            getData(`http://localhost:8080/customers/${id}`);
        }

        function handlePayment() {
            const id = document.getElementById('id').value;
            const amount = parseFloat(document.getElementById('paymentAmount').value);
            const balanceDue = parseFloat(document.getElementById('balanceDue').value);
            if(id > 0 && amount > 0 && amount <=balanceDue) {
                postData(`http://localhost:8080/customers/${id}/payment`, amount);
            }
            if(amount>balanceDue) {
                alert("You cannot pay more than what you owe. Payment amount should be less than or equal to Balance Due.")
            }
            if(id<0 || amount <0) {
                alert("Customer id or Payment amount cannot be negative");
            }
        }
        </script>
    </head>
    <body>
        <h1>
            Payment Form
        </h1>
        <form>
            <label for="id">Customer Id:</label>
            <input type="number" id="id" name="id" oninput="getCustomer()" required />
            <label for="balanceDue">Balance Due:</label>
            <input type="number" id="balanceDue" name="balanceDue" readonly />
            <label for="paymentAmount">Payment Amount:</label>
            <input type="number" id="paymentAmount" name="paymentAmount" required />
            <button type="button" id="paymentButton" onclick="handlePayment()">Make a Payment</button>
        </form>
    </body>
</html>